/* Estilo Geral */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Fundo claro */
  color: #333; /* Texto escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%; /* Garante que o body ocupe toda a largura */
}

/* Cabeçalho */
header {
  background-color: #ffd700; /* Amarelo */
  width: 100%; /* Garantir que ocupe toda a largura */
  padding: 20px 0; /* Remover padding lateral */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header img {
  max-width: 120px; /* Logo */
  margin-bottom: 15px;
}

header h1 {
  font-size: 2em;
  font-weight: 500;
  color: white;
}

/* Container */
.container {
  background-color: #fff; /* Fundo branco para o formulário */
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras para profundidade */
  text-align: center;
}

/* Título do Formulário */
.form-header h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Campos do Formulário */
.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 1em;
}

.form-group input::placeholder {
  color: #aaa;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #ffd700; /* Foco no amarelo */
}

.form-group select {
  appearance: none;
  cursor: pointer;
}

/* Botões */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-submit,
.btn-back {
  text-decoration: none;
  color: black;
  background-color: #ffd700; /* Amarelo */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-submit:hover,
.btn-back:hover {
  background-color: #0056b3; /* Azul escuro */
  transform: scale(1.05); /* Efeito hover */
}

/* Mensagens de Resultado */
.result-message {
  margin: 20px 0;
  text-align: center;
}

.success-message {
  color: green;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
}

.error-message {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.8em;
  }
  .form-group input,
  .form-group select {
    font-size: 0.9em; /* Ajuste para telas pequenas */
  }
}
